body{
  direction:rtl;text-align:right;
}
.header{
  background-color: blue;
  color: #ffffff;
  border-radius: 200px;
  margin: 15px;
  padding: 1px;
}
.name{
  padding-right: 30px;
}
.input-box{
  background-color: rgb(201, 201, 201);
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
}
.jj{
  background-color: #ffffff;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
}
.buy{
  background-color: blue;
  color: #ffffff;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  padding-right: 200px;
  padding-left: 200px;
}
.t{
  
}