.menu {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.menu ul li a:hover {
  background-color: #ddd;
}

.main-header {
  background-color: blue;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 200px;
  margin: 20px;
}

.logo a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-nav ul li {
  margin-left: 10px;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}

.mahsool {
  text-align: center;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.button {
  background-color: rgb(209, 195, 0);
  border-radius: 10px;
}